.wrapper {
  max-width: 1400px;
  flex: 1;
  align-items: center;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(51, 40, 40, 1) 50%,
    rgba(23, 3, 3, 1) 100%
  );
  justify-content: center;
  max-height: max-content;
  border-radius: 30px;
}

.background {
  display: flex;
  justify-content: center;
  background-color: black;

  
}

.animeImage {
 
  margin-left: 80px;
  padding-top: 5px;
}

.trailerWrapper {
  display: flex;
  justify-content: center;
}

.titleSection {

  max-width: 500px;
}

.animestats {
  padding: 61px 50px 0px 5px;
  line-height: 30px;
}
