.wrapper {
  flex: 1;

  background-repeat: no-repeat;
  align-items: center;
}

.page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  /* background: rgba(0, 0, 0, 0.7); */
  background: rgb(127, 122, 149);
  background: linear-gradient(
    90deg,
    rgba(127, 122, 149, 1) 0%,
    rgba(62, 62, 117, 1) 50%,
    rgba(52, 60, 100, 1) 100%
  );
}

.animeTitle {
  font-size: 100px;
}

.animeDiscription {
  font-size: 2rem;
}

.animeImage {
  border-radius: 10px;
  margin-left: 80px;
  padding-top: 5px;
}

.trailerWrapper {
  display: flex;
  justify-content: center;
}

.titleSection {
  padding: 0;
  max-width: 700px;
}

.animestats {
  padding: 61px 50px 0px 5px;
  line-height: 30px;
}

.verticalLine {
  content: "";
  width: 1px;
  height: 100vh;
  background-color: white;
}

.horizontalLine {
  content: " ";
  height: 1px;
  width: 100%;

  background-color: white;
}
