

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 16%;
  align-items: start;
  background-color: var(--clr-primary);
  
  

}

.navList,
.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  color: var(--clr-white);
}


